<!--A page for administrator who adds new elections-->
<!DOCTYPE html>
<html>

<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      margin-left: 85%
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

    }
  </style>
</head>

<body>
  <h1 style="text-align:center;font-size: xx-large;font-weight:bolder;">Online Voting Platform</h1>
  <h2 style="text-align:center;font-size: large;padding-top:15;"> <b>Welecome Administrator</b> </br>
    <%= username %>
  </h2>
  <ul style="font-size: large;font-weight:bold;">
    <li><a class="active text-green-900" href="/home">Home</a></li>

    <li><a class="text-red-700" href="/signout">Sign Out</a></li>
  </ul>

</body>

</html>